.answer {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  border-radius: var(--border-radius-card);
  color: inherit;
  background-color: var(--color-theme);
  cursor: pointer;
  transition: all 0.3s var(--easing);
}

.answer:last-child {
  margin-bottom: 0;
}

.answer:hover {
  background-color: rgba(var(--color-theme-rgb) / 0.6)
}

.answer.is-success {
  color: var(--color-text-success);
  background-color: var(--color-success);
}

.answer.is-error {
  color: var(--color-text-error);
  background-color: var(--color-error);
}
